@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif !important;
  background-color: #090909;
}

.navbar{
  background-color: #090114 !important;
  border-bottom: 0.5px solid #394157;
}

.nav-link{
  color: #FFF;
}

.offcanvas-header {
  background-color: #090114;
}

.nav-link:hover, .nav-link:active {
  color: #B0B6BE !important;
}

.btn-outline-light {
  background-color: #7C21FF;
  border: none;
  border-radius: 0;
}

.dropdown-item:active{
  background-color: #7C21FF !important;
}

.btn-outline-light:hover, .btn-outline-light:active {
  background-color: #090114 !important;
  color: #FFF !important;
}

svg{
  fill: #fff;
}

#section1{
  height: 800px;
  width: 100%;
  background-color: #090114;
  padding-top: 200px;
}

#section1 p{
  color: #fff;
}

#section1 h1 {
  background: linear-gradient(60deg,hsl(224deg,85%,66%),hsl(269deg,85%,66%),hsl(314deg,85%,66%),
  hsl(359deg,85%,66%),hsl(44deg,85%,66%),hsl(134deg,85%,66%),hsl(179deg,85%,66%));;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-position: 0 0;
  background-size: 200% 200%;
  animation: moveGradient 7s ease infinite;
  font-weight: bold;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#section3 {
  background-color: #090114;
  color: #fff;
  padding: 100px 0 100px 0;
}

#section3 section, #section5 .row{
  padding-top: 50px;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider{
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-slide{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img{
  display: block;
  height: 50px;
}

.slick-initialized .slick-slide{
  display: block;
}

#section5{
  width: 100%;
  background-color: #090909;
  color: #FFF;
  padding: 100px 0 100px 0;
}

#section5 .col-sm {
  line-height: 2rem;
  margin: 5px;
  padding: 56px 40px 56px 40px;
  width: 375px;
  height: 50%;
  background-color: #202020;
  border-radius: 10px;
}

#section5 button{
  bottom: 0;
}

#section5 h2{
  padding-bottom: 50px;
  margin-bottom: 0 !important;
}

.col-sm h3, .col-sm p{
  margin-bottom: 35px;
}

#section6{
  background-color: #090909;
  color: #FFF;
  padding: 100px 0 100px 0;
}

.col-sm .btn-outline-light:hover, .col-sm .btn-outline-light:active{
  background-color: #202020 !important;
}

.icons {
  color: #fff !important; 
  padding: 0.5em;
}

footer{
  background-color: #090909;
  padding: 50px 0 10px 0;
}

footer .nav-link:hover, footer .nav-link:before, a{
  color: #FFF !important;
  text-transform: none;
  text-decoration: none;
}

footer p{
  color: #8e8f91;
}

@media (max-width: 992px){
  .offcanvas-body {
    background-color: #090114;
    line-height: 50px;
    font-size: 35px;
  }

  nav .btn{
    margin-top: 15px;
    font-size: 30px;
  }

  form, #section7 .firstCol{
    padding-top: 0px;
  }

  #section7 .secondRow, #section7 .row{
    padding-bottom: 0px !important;
  }

  #section1 h1{
    margin-top: -70px !important;
  }

  #section5 .col-sm {
    margin: 5px auto 5px auto;   
    display: block;
  }
}

#section6 input, #section6 select, #section6 textarea{
  width: 100%;
  background-color: #202020;
  border: 1px solid #8e8f91;
  color: #8e8f91 !important;
  padding: 10px;
  border-radius: 5px;
}

#message{
  height: 150px;
  text-align: start !important;
}

#section6 input:focus{
  border: 1px solid #7C21FF;
}

#section6 .btn{
  background-color: #7C21FF;
  color: #FFF;
  border-radius: 0;
}

#section6 p{
  margin-left: 5px;
}

#section6 .btn:hover{
  background-color: #090909;
}

#section3 h2, #section4 h2{
  padding-bottom: 50px;
  color: #ffffff;
}

#section7 .secondRow, #section7 .row{
  padding-top: 50px
}

#section8 h2{
  margin-bottom: 0;
  padding-bottom: 50px;
  color: #ffffff;
}



.carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #090909;
  box-sizing: border-box;
  padding: 50px 0 50px 0;
}

.slide-container {
  margin: 0 30px;
  overflow: hidden;
}

.card {
  background: #202020;
  border: none;
  border-radius: 9px;
  color: #fff;
  height: 500px;
}

.card .image-box {
  height: 300px;
  background-color: #090909;
  border-radius: 30px;
  border: 20px solid #202020;
  display: flex;
  justify-content: center;
}

.card .image-box img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.card .profile-details {
  column-gap: 12px;
  padding: 15px;
}

.carrousel p{
  color: #8e8f91;
  padding-bottom: 55px !important;
}

.swiper-navBtn {
  color: #7C21FF;
  height: 35px;
  width: 35px;
  background: #fff;
  border-radius: 50%;
}

.swiper-navBtn::before, .swiper-navBtn::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #fefefe;
  margin-top: 55px;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}




