@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
.slick-list,
.slick-slider,
.slick-track {
    position: relative;
    display: block;
}
#section2,
#section3,
#section6 {
    color: #fff;
    padding: 100px 0;
}
.slick-initialized .slick-slide,
.slick-list,
.slick-slide img,
.slick-slider,
.slick-track {
    display: block;
}
body {
    font-family: Poppins, sans-serif !important;
    background-color: #090909;
}
.navbar {
    background-color: #090114 !important;
    border-bottom: 0.5px solid #394157;
}

#section1,
#section2,
.offcanvas-header {
    background-color: #090114;
}

#section1 p,
.nav-link {
    color: #fff;
}
.nav-link:active,
.nav-link:hover {
    color: #b0b6be !important;
}
.btn-outline-light {
    background-color: #7c21ff;
    border: none;
    border-radius: 0;
}
.dropdown-item:active {
    background-color: #7c21ff !important;
}
.btn-outline-light:active,
.btn-outline-light:hover {
    background-color: transparent !important;
    color: #fff !important;
}
svg {
    fill: #fff;
}

.gradient {
    background: linear-gradient(60deg, hsl(224deg, 85%, 66%), hsl(269deg, 85%, 66%), hsl(314deg, 85%, 66%), hsl(359deg, 85%, 66%), hsl(44deg, 85%, 66%), hsl(134deg, 85%, 66%), hsl(179deg, 85%, 66%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-position: 0 0;
    background-size: 200% 200%;
    animation: 7s infinite moveGradient;
    font-weight: 700;
}
@keyframes moveGradient {
    0%,
    100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}
#section3,
#section6,
#section6 .btn:hover,
.card .image-box,
footer {
    background-color: #090909;
}
#section2 section,

#section4 .row,
#section5 h2,
#section7 .row,
#section7 .secondRow,
.margin {
    padding-top: 50px;
}
.slick-slide {
    margin: 0 20px;
}
.slick-slide img {
    width: 100%;
    height: 50px;
}
.slick-slider {
    box-sizing: border-box;
}
.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
    top: 0;
    left: 0;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
#section3 {
    width: 100%;
}
#section4 .col-sm {
    height: 50% !important;
}
#section4 .col-sm p {
    margin-bottom: 10px;
}
#section3 .col-sm,
#section4 .col-sm {
    line-height: 2rem;
    color: #fff;
    margin: 5px;
    padding: 56px 40px;
    width: 375px;
    height: 50%;
    background-color: #202020;
    border-radius: 10px;
}
#section3 button {
    bottom: 0;
}
#section3 h2,
#section4 h2 {
    padding-bottom: 50px;
    margin-bottom: 0 !important;
}
.col-sm h3,
.col-sm p {
    margin-bottom: 35px;
}
.col-sm .btn-outline-light:active,
.col-sm .btn-outline-light:hover {
    background-color: #202020 !important;
}
.icons {
    color: #fff !important;
    padding: 0.5em;
}
.carrousel p,
.testimonial,
footer p {
    color: #8e8f91;
}
footer {
    padding: 50px 0 10px;
}
a,
footer .nav-link:before,
footer .nav-link:hover {
    color: #fff !important;
    text-transform: none;
    text-decoration: none;
}
@media (max-width: 992px) {
    .offcanvas-body {
        background-color: #090114;
        line-height: 50px;
        font-size: 35px;
    }
    nav .btn {
        margin-top: 15px;
        font-size: 30px;
    }
    #section7 .firstCol,
    form {
        padding-top: 0;
    }
    #section7 .row,
    #section7 .secondRow {
        padding-bottom: 0 !important;
    }
    #section3 .col-sm,
    #section4 .col-sm {
        margin: 5px auto;
        display: block;
    }    

}
#section6 input,
#section6 select,
#section6 textarea {
    width: 100%;
    background-color: #202020;
    border: 1px solid #8e8f91;
    color: #8e8f91 !important;
    padding: 10px;
    border-radius: 5px;
}
#message {
    height: 150px;
    text-align: start !important;
}
#section6 input:focus {
    border: 1px solid #7c21ff;
}
#section6 .btn {
    background-color: #7c21ff;
    color: #fff;
    border-radius: 0;
}
#section6 p {
    margin-left: 5px;
}
#section2 h2,
#section4 .row,
#section4 h2 {
    padding-bottom: 50px;
    color: #fff;
}
#section5 h2 {
    margin-bottom: 0;
    padding-bottom: 50px;
    color: #fff;
}
.carrousel {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #090909;
    box-sizing: border-box;
    padding: 50px 0;
}
.slide-container {
    margin: 0 30px;
    overflow: hidden;
}
.card {
    background: #202020;
    border: none;
    border-radius: 9px;
    color: #fff;
    height: 500px;
}
.card .image-box {
    height: 300px;
    border-radius: 30px;
    border: 20px solid #202020;
    display: flex;
    justify-content: center;
}
.card .image-box img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin: auto;
    display: block;
}
.card .profile-details {
    column-gap: 12px;
    padding: 15px;
    margin-left: 5px;
}
.carrousel p {
    padding-bottom: 55px !important;
}
.swiper-navBtn {
    color: #7c21ff;
    height: 35px;
    width: 35px;
    background: #fff;
    border-radius: 50%;
}
.swiper-navBtn::after,
.swiper-navBtn::before {
    font-size: 18px;
}
.swiper-pagination-bullet {
    background-color: #fefefe;
    margin-top: 55px;
}
@media screen and (max-width: 768px) {
    .swiper-navBtn {
        display: none;
    }
}

.ty{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section5 img{
    width: 200px;
    height: 200px;
}

.links {
    padding-top: 100px;
    text-transform: uppercase !important;
    max-width: 550px;
}

.btn-links{
    margin-top: 20px;
}

.links h1,
.links .social,
.links svg,
.links img {
    margin-bottom: 0px !important;
    padding: 20px;
}

.links .btn {
    font-size: 20px;
    width: 100%;
    padding: 20px;
    margin-bottom: 6px !important;
}







#section1 {
    height: 950px;
    display: grid;
    place-items: center;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-color: #090114;
    background-size: cover;
    animation: updown 3s infinite;
}

@keyframes updown {
    0%{
        background-position: 0px 10px;
    }
    50%{
        background-position: 0px -10px;
    }
    100%{
        background-position: 0px 10px;
    }
}

#section1 p{
    font-size: 25px;
}
.wrapper{
    box-sizing: content-box;
    height: 90px;
    padding-bottom: 40px;
    display: flex;
}
.words{
    overflow: hidden;
    margin-bottom: -30px;
}
#section1 span{
    display: block;
    height: 100%;
    padding: 10px 0px;
    animation: spin_words 10s infinite 1s;
}
@keyframes spin_words{
    6%{
        transform: translateY(-112%);
    }
    12%{
        transform: translateY(-100%);
    }
    18%{
        transform: translateY(-212%);
    }
    25%{
        transform: translateY(-200%);
    }
    31%{
        transform: translateY(-312%);
    }
    37%{
        transform: translateY(-300%);
    }
    43%{
        transform: translateY(-412%);
    }
    50%{
        transform: translateY(-400%);
    }
    56%{
        transform: translateY(-512%);
    }
    62%{
        transform: translateY(-500%);
    }
    68%{
        transform: translateY(-612%);
    }
    75%{
        transform: translateY(-600%);
    }
    81%{
        transform: translateY(-712%);
    }
    87%{
        transform: translateY(-700%);
    }
    93%{
        transform: translateY(-812%);
    }
    100%{
        transform: translateY(-800%);
    }
}


#section1 .btn{
    margin-top: 15px;
    font-size: 25px;
}




.marquee-w {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(124, 33, 255), rgba(165, 108, 255));
}
.marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
}
.marquee span {
    display: inline-block;
    padding-left: 100%;
    font-family: 'poppins';
    color: #fff;
    text-align: center;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 70px;
    font-size: 25px;
    animation: marquee 20s linear infinite;
}
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

#influencer{
    color: #fff;
}



#intro {
    background-color: #090114;
    margin-top: -30px;
}
#intro .col-lg-8,
#influencer .col-lg-8{
    color: #fff;
    padding: 100px 25px 50px 10px;
    line-height: 30px;
}

#influencer img{
    width: 100%;
    animation: teste 10s infinite;
}

@keyframes teste {
    0%{
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    25%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50%{
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    75%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}


#intro h2,
#influencer h2{
    font-weight: bold;
}

#intro p,
#influencer p{   
    color: #fafafa !important;
}

#marginzero{
    margin-bottom: 0;
}